##### Introduction to Jupyter NoteBook

1. Web Scraping
2. Extract data from Website
3. Write the data to Excel
4. Write the data to SQL
5. Plot Graph

In [3]:
a= 'python'

In [4]:
print(a)

python

In [8]:
a= [1,'a1',2,'sad',[1,2,3]]

In [9]:
type(a)

list

In [10]:
for i in a :
    print(i)

1
a1
2
sad
[1, 2, 3]

In [11]:
len(a)

5

In [ ]:
a[0]

Introduction of pandas

In [12]:
import pandas as pd

In [13]:
pd.read_excel("../data/accident_data.xlsx")

,accident_id,accident_month,accident_year,accident_cost,human_admit,human_dead,roadtype_id,roadskin_id,acdpoint_id,atmosphere_id,light_id,person_gender,person_age,person_national,person_type,person_state,district,province
0,1,7,14,15000000.0,0,2,1,90,3,90,90,1,83,ไทย,2,1,Sangkha,Surin
1,2,7,14,15000000.0,0,2,1,90,3,90,90,1,80,ไทย,3,1,Sangkha,Surin
2,3,8,14,59000.0,1,0,4,1,1,1,3,1,60,ไทย,2,0,Chaiya,Surat Thani
3,4,7,13,4000000.0,0,2,1,1,1,1,1,2,74,ไทย,1,1,NaN,NaN
4,5,7,13,4000000.0,0,2,1,1,1,1,1,2,78,ไทย,1,1,NaN,NaN
5,6,7,13,0.0,0,1,1,1,2,90,3,1,18,ไทย,2,1,NaN,NaN
6,7,10,12,5000000.0,0,1,1,1,1,1,3,1,46,ไทย,2,1,NaN,NaN
7,8,10,12,500000.0,0,1,1,1,1,1,1,1,44,ไทย,2,1,NaN,NaN
8,9,10,12,15000000.0,0,3,1,1,1,90,2,1,19,ไทย,2,1,NaN,NaN
9,10,10,12,15000000.0,0,3,1,1,1,90,2,1,20,ไทย,3,1,NaN,NaN
10,11,10,12,15000000.0,0,3,1,1,1,90,2,1,34,ไทย,3,1,NaN,NaN
11,12,7,13,4590000.0,1,1,1,2,1,3,3,1,23,ไทย,2,1,NaN,NaN
12,13,7,13,4590000.0,1,1,1,2,1,3,3,2,37,ไทย,2,0,NaN,NaN
13,14,6,13,4000000.0,0,1,1,90,90,90,90,2,37,ไทย,2,1,NaN,NaN
14,15,7,13,6000000.0,0,2,4,1,1,1,3,1,14,ไทย,3,1,NaN,NaN
15,16,7,13,6000000.0,0,2,4,1,1,1,3,1,17,ไทย,2,1,NaN,NaN
16,17,11,14,NaN,1,0,2,1,2,1,1,1,46,ไทย,2,0,Na Pho,Buriram
17,18,4,14,59000.0,1,0,1,1,2,1,1,1,50,ไทย,2,0,Srinagarindra,Phatthalung
18,19,4,14,400000.0,1,0,1,1,1,1,3,1,21,-,2,0,Sawi,Chumphon
19,20,4,14,54000.0,1,0,4,1,3,90,90,1,10,ไทย,2,0,Khok Pho,Pattani
20,21,4,14,50000.0,1,0,3,1,1,90,2,1,64,ไทย,1,0,Phrae,Phrae
21,22,2,14,9000.0,0,1,2,1,1,1,1,1,16,ไทย,2,1,Khon Kaen,Khon Kaen
22,23,2,14,4000000.0,0,1,1,1,1,90,3,2,23,ไทย,3,1,Surin,Surin
23,24,3,14,4000000.0,0,1,1,90,90,90,90,2,42,ไทย,3,1,Pak Thong Chai,Nakhon Ratchasima
24,25,4,14,10000.0,1,0,4,1,1,2,2,1,19,ไทย,2,0,Na Di,Prachin Buri
25,26,4,14,NaN,1,0,4,1,2,1,1,1,32,ไทย,2,0,Kantang,Trang
26,27,4,14,2000.0,1,0,1,1,2,1,1,1,23,ไทย,2,0,Pong,Phayao
27,28,4,14,60000.0,1,0,3,90,90,90,3,1,23,ไทย,1,0,Phunphin,Surat Thani
28,29,4,14,1000.0,1,0,1,1,1,1,3,1,27,ไทย,2,0,Don Chan,Kalasin
29,30,4,14,200000.0,1,0,3,3,1,1,1,2,39,ไทย,2,0,Uthumphon Phisai,Sisaket
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93361,93362,12,12,59000.0,1,0,90,1,90,90,90,1,31,ไทย,2,0,NaN,NaN
93362,93363,12,12,4000000.0,0,1,4,1,2,1,3,1,34,ไทย,2,1,NaN,NaN
93363,93364,12,12,0.0,0,2,2,1,1,1,1,1,7,ไทย,3,1,NaN,NaN
93364,93365,12,12,0.0,0,2,2,1,1,1,1,1,15,ไทย,2,1,NaN,NaN
93365,93366,12,12,20000.0,5,0,2,1,1,1,1,2,11,ไทย,3,0,NaN,NaN
93366,93367,12,12,20000.0,5,0,2,1,1,1,1,1,12,ไทย,3,0,NaN,NaN
93367,93368,12,12,20000.0,5,0,2,1,1,1,1,1,40,ไทย,2,0,NaN,NaN
93368,93369,12,12,20000.0,5,0,2,1,1,1,1,1,12,ไทย,3,0,NaN,NaN
93369,93370,12,12,20000.0,5,0,2,1,1,1,1,2,10,ไทย,3,0,NaN,NaN
93370,93371,12,12,59000.0,1,0,3,1,1,1,2,1,56,ไทย,2,0,NaN,NaN
93371,93372,12,12,59000.0,1,0,4,1,2,1,1,1,44,ไทย,2,0,NaN,NaN
93372,93373,12,12,59000.0,1,0,3,1,1,1,3,1,16,ไทย,2,0,NaN,NaN
93373,93374,1,13,59000.0,1,0,1,1,1,1,2,1,21,ไทย,2,0,NaN,NaN
93374,93375,1,13,0.0,1,0,4,1,1,1,1,1,13,ไทย,2,0,NaN,NaN
93375,93376,1,13,59000.0,1,0,1,2,1,3,3,2,18,ไทย,3,0,NaN,NaN
93376,93377,12,12,0.0,1,0,2,1,1,90,2,1,52,ไทย,2,0,NaN,NaN
93377,93378,12,12,0.0,1,0,4,1,1,1,2,2,11,ไทย,3,0,NaN,NaN
93378,93379,12,12,0.0,1,0,2,1,1,90,2,1,45,ไทย,2,0,NaN,NaN
93379,93380,12,12,59000.0,1,0,1,1,1,1,2,1,45,ไทย,2,0,NaN,NaN
93380,93381,12,12,59000.0,1,0,3,1,1,90,90,1,30,ไทย,2,0,NaN,NaN
93381,93382,12,12,0.0,1,0,3,1,1,1,2,1,17,-,2,0,NaN,NaN
93382,93383,12,12,0.0,1,0,4,1,3,90,2,1,17,ไทย,3,0,NaN,NaN
93383,93384,12,12,50000.0,1,0,2,1,1,1,1,1,22,ไทย,2,0,NaN,NaN
93384,93385,12,12,30000.0,1,0,4,1,2,1,1,1,15,ไทย,2,0,NaN,NaN
93385,93386,12,12,159000.0,1,0,1,1,1,2,3,2,18,ไทย,3,0,NaN,NaN
93386,93387,1,13,0.0,1,0,2,1,1,1,1,2,41,ไทย,2,0,NaN,NaN
93387,93388,12,12,5000.0,1,0,1,1,1,1,1,2,46,ไทย,2,0,NaN,NaN
93388,93389,12,12,0.0,1,0,4,1,3,4,1,2,67,ไทย,2,0,NaN,NaN
93389,93390,12,12,69000.0,1,0,3,1,1,1,2,1,18,ไทย,2,0,NaN,NaN
93390,93391,12,12,59000.0,1,0,1,1,1,90,2,1,21,ไทย,2,0,NaN,NaN